{% extends 'base.html.twig' %}

{% block title %}Изменить пароль{% endblock %}

{% block body %}
    {% include('account/account_header.html.twig') with {selected: 'pass'}%}
    <section class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                {{ form_start(userForm) }}
                {{ form_row(userForm.oldPassword) }}
                {{ form_row(userForm.plainPassword) }}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Изменить</button>
                {{ form_end(userForm) }}
            </div>
        </div>
    </section>
{% endblock %}

{#    {% block footer %}#}
{#    {% endblock %}#}
{% set no_search=true %}