{% extends 'base.html.twig' %}

{% block title %}Изменить номер телефона{% endblock %}

{% block body %}
    {% include('account/account_header.html.twig') with {selected: 'phone'}%}
    <section class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <table>
                    <tbody>

                    <tr>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}

    {% block footer %}
    {% endblock %}
{% set no_search=true %}