{% extends 'base.html.twig' %}

{% block title %}Активация{% endblock %}

{% block body %}
    <section class="container{% if not flash %} first-section{% endif %}">
        <div class="row justify-content-center">
            <div class="col-md-4">
                {{ form_start(form) }}
                <h1 class="h3 mb-3 font-weight-normal"></h1>
                {{ form_row(form.activationCode) }}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Активировать</button>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}

    {% block footer %}
    {% endblock %}
{% set no_search=true %}

