{% extends 'base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block body %}
    <section class="container{% if not flash %} first-section{% endif %}">
        <div class="row">
            <div class="col-12">
                <div class="row no-gutters border rounded-lg overflow-hidden flex-md-row mb-4 shadow-sm position-relative bg-light featured-border  rounded shadow-lg">
                    <div class="article-detail col-sm-12">
                        <div class="col-12 mt-2 mb-4">
                            <p>{{ page.text | markdown_to_html }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block description %}
    {{ page.headTitle }}
{% endblock %}
{% block keywords %}
    {{ page.keywords }}
{% endblock %}