{% extends 'base.html.twig' %}

{% block title %}Оптическая когерентная томография глаз в Туле{% endblock %}

{% block body %}
<section class="container first-section">
    <div class="row">
        <div class="col-12">
            <div class="row no-gutters border rounded-lg overflow-hidden flex-md-row mb-4 shadow-sm position-relative bg-light featured-border  rounded shadow-lg">
                <div class="article-detail col-sm-12">
                    <div class="col-sm-12 p-2 my-2">
                        <div class="media d-flex align-content-center">
                            <img class="rounded float-start mr-3 cabinet" src="./img/kabinet.jpg"
                                 alt="Оптическая когерентная томография глаз">
                            <div class="media-body d-inline-block align-self-center">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-2 mb-4">
                        <h1 class="mb-2">Оптическая когерентная томография глаз</h1>
                        <p>&emsp;Врач-офтальмолог делает ОКТ(OCT англ. Optical Coherence Tomography — Оптическая
                            когерентная томография глаз). Компьютерная томография глаз является обьективным самым
                            современным методом диагностики, по сути ОКТ (оптическая когерентная компьютерная
                            томография) - окулист делает прижизненную безвредную, бесконтактную "биопсию" тканей
                            глаза.
                            <strong>...текста нужно гораздо больше, минимум тысячу символов и желательно с
                                картинками (текст для сео. картинки для посетителей)...</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="row no-gutters border rounded-lg overflow-hidden flex-md-row mb-4 shadow-sm position-relative bg-light featured-border rounded shadow-lg">
                <div class="media-body d-inline-block align-self-center">
                    <div class="col-sm-12 my-2">
                        <h3><i class="pr-3 far fa-comment text-secondary">3 Отзыва</i></h3>
                        <hr>
                        <div class="row mt-2">
                            <div class="col-sm-12">
                                <div class="media">
                                    <img class="align-self-start comment-img comment-img" src="./img/eye.png"
                                         alt="Оптическая когерентная томография глаз">
                                    <span><b>Михалев Иван Павлович</b></span>
                                    <div class="media-body align-self-start col-sm-6">
                                        <small>17 января 1961</small>
                                        <p>
                                                <span class="comment">&emsp;Какой то отзыв о твоей работе с ключевыми
                                                    словами</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-12">
                                <div class="media">
                                    <img class="align-self-start comment-img rounded-circle comment-img"
                                         src="./img/eye.png" alt="Оптическая когерентная томография глаз">
                                    <span><b>Потапов Потап потапович</b></span>
                                    <div class="media-body align-self-start col-sm-6">

                                        <small>23 января 2021</small>
                                        <br>
                                        <span class="comment">&emsp;Какой то отзыв о твоей работе с ключевыми
                                                словами</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-12">
                                <div class="media">
                                    <img class="align-self-start comment-img rounded-circle comment-img"
                                         src="./img/eye.png" alt="Оптическая когерентная томография глаз">
                                    <span><b>Федоров Федор Федорович</b></span>
                                    <div class="media-body align-self-start col-sm-6">

                                        <small>12 февраля 2023</small>
                                        <br>
                                        <span class="comment">&emsp;Inventore est incicb gfnffg fgdunt natus
                                                in. Quos
                                                quia
                                                nihil dvcbcxvbcxvbxolorem ab sed. Id molestias minus
                                                corporis.
                                                Delectus
                                                minima quidem alias. Id officiis eveniet.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="row no-gutters border rounded-lg overflow-hidden flex-md-row mb-4 shadow-sm position-relative bg-light featured-border  rounded shadow-lg">
                <div class="media-body d-inline-block align-self-center">
                    <div class="col-sm-12 my-2">
                        <h3><i class="pr-3 far fa-comment text-secondary">Как нас найти</i></h3>
                        <hr>
                        <div class="media d-flex flex-wrap justify-content-center my-4">
                            <img class="rounded img-fluid mr-3" src="./img/ga.jpg"
                                 alt="Оптическая когерентная томография глаз">
                        </div>
                        <div class="col-12 mt-2 mb-4">
                            <p>&emsp;<strong>очень длинный текст и без разбиения на абзацы...извините, но клиенты в
                                    большинстве своем тупые.. им нужно максимально просто все донести</strong>
                                Глазной кабинет Валицкого И.С. располагается на пересечении улицы Фрунзе и улицы
                                Л.Толстого. Вход в глазной кабинет со стороны улицы Фрунзе напротив 17-й школы. Если
                                ехать на общественном транспорте, то остановки на улице Демонстрации или остановка
                                "Ателье"соответственно ниже и выше глазного кабинета. От "Ателье" нужно спуститься
                                до школы 17-й и перейти по пешеходному переходу на сторону глазного кабинета. От
                                улицы Демонстрации нужно подняться до 17-й школы и также перейти по пешеходному
                                переходу в глазной кабинет. Бесплатная парковка для автомобилей напротив 17-й школы.
                                По нечетной стороне улицы Фрунзе выше глазного кабинета к улице первомайской
                                располагается Магазин онлайн трейд. Для мам с детьми и колясками, а также для
                                инвалидов глазной кабинет оборудован пандусом. Записаться на прием можно по телефону
                                или WhatsApp посмотрев свое свободное время и соотнеся его с онлайн календарем
                                записи в кабинет офтальмолога. В календаре записи отражено свободное и занятое время
                                глазного кабинета. В среднем на пациента в глазном кабинете офтальмолог окулист для
                                полноценного осмотра и назначения лечения закладывает 1 час времени.</p>

                        </div>
                        <ul class="nav justify-content-center">
                            <li class="nav-item">
                                <a class="nav-link phone-link" aria-current="page" href="tel:+7(4872)58-83-85">
                                    <h4>+7(4872) 58-83-85</h4>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link phone-link" href="https://wa.me/79207609019">
                                    <h4>WhatsApp</h4>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link phone-link" href="./contacts.html">
                                    <h4>Записаться</h4>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}