{#<footer class="navbar navbar-expand-lg navbar-dark navbar-bg">#}
{#    <div class="container-fluid text-white">#}
{#        <div class="col-md-4 d-flex align-items-center">#}
{#            <span class="mb-3 mb-md-0">©2018 - {{ 'now' | date('Y') }} Валицкий И.С.</span>#}
{#        </div>#}

{#        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">#}
{#            <li class=" nav-item"><a href="{{ url('app_sitemap') }}" class="nav-link px-2 text-white"><i class="fas fa-map-marked-alt fa-lg"></i> Карта сайта</a>#}
{#            </li>#}
{#            <li class="nav-item"><a href="#" class="nav-link px-2 text-white ms-4"><i class="fas fa-glasses fa-lg"></i> Версия для слабовидящих</a></li>#}
{#        </ul>#}
{#    </div>#}
{#</footer>#}

<footer class="navbar pt-3 mе-4 navbar-dark navbar-bg">
    <ul class="nav justify-content-center pb-3 mx-3">
        <li class="nav-item"><a href="{{ url('app_sitemap') }}" class="nav-link px-2 text-white">Карта сайта</a></li>
        <li class="nav-item" id="btn-switch"><a id="text-link" class="nav-link px-2 text-white ms-4">Версия для слабовидящих</a></li>
    </ul>
    <p class="text-center text-muted mx-3">© {{ 'now' | date('Y') }} Валицкий И.С.</p>
</footer>
<script>
    document.getElementById("btn-switch").addEventListener('click', changeSize);

    function changeSize(e) {
        document.getElementById("body").setAttribute('style', `font-size: 2.2rem`);
        document.getElementById("text-link").textContent = "Вернуть обычный вид";
        document.getElementById("btn-switch").removeEventListener('click', changeSize);
        document.getElementById("btn-switch").addEventListener('click', returnSize);
    }
    function returnSize(e) {
        document.getElementById("body").setAttribute('style', `font-size: 1.2rem`);
        document.getElementById("text-link").textContent = "Версия для слабовидящих";
        document.getElementById("btn-switch").removeEventListener('click', returnSize);
        document.getElementById("btn-switch").addEventListener('click', changeSize);
    }
</script>