{% use "bootstrap_5_layout.html.twig" %}

{%- block email_widget -%}
    {% if symbol is defined and symbol is not null %}
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text form-control">{{ symbol }}</div>
            </div>
    {% endif %}
    <input type="email" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} class="form-control"/>
    {% if symbol is defined and symbol is not null %}
        </div>
    {% endif %}
{%- endblock email_widget -%}