{% extends 'admin/base_admin.html.twig' %}

{% block title %}Создание статьи{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <h1 class="h3 mb-3 font-weight-normal">Создание статьи</h1>
                {% include 'admin/article/form.html.twig' with {button_text: 'Создать'} %}
            </div>
        </div>
    </div>

{% endblock %}
{% set no_fixed=true %}
{% set no_search=true %}
{% block footer %}{% endblock %}