{% extends 'mailer/email_base.html.twig' %}
{% block content %}
    <table role="presentation" class="btn btn-primary">
        <tbody>
        <tr>
            <td>
                <p>
                    Для активации e-mail перейдите по этой ссылке.
                </p>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}